﻿@model IEnumerable<Modelo.Funcionario>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdFuncionario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdPessoaFisica)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdFuncao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Salario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataAdmissao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataDemissao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ativo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdFuncionario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdPessoaFisica)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdFuncao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Salario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataAdmissao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataDemissao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ativo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdFuncionario }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.IdFuncionario })
        </td>
    </tr>
}

</table>
