﻿@model Desafio_Meta3.WebUI.Models.LoginViewModel

<div id="divLogin" class="login-box-body">

    <p class="login-box-msg">Faça Login para iniciar sua sessão</p>
    <a href="~/Views/Login/_BoxLogin.cshtml">~/Views/Login/_BoxLogin.cshtml</a>

    @if (ViewBag.Error != null)
            {
        <p style="color:red;" class="error">@Html.Raw(ViewBag.Error)</p>
    }

    @using (Html.BeginForm("Autenticacao", "Login"))
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(false, null, new { @class = "alert-danger" })

        <div class="form-group has-feedback">
            @Html.TextBoxFor(Model => Model.Usuario.Login, new { @class = "form-control", @placeholder = "Usuário" })
            <span class="fa fa-user form-control-feedback"></span>
        </div>

        <div class="form-group has-feedback">
            @Html.PasswordFor(Model => Model.Usuario.Senha, new { @class = "form-control", @placeholder = "Senha" })
            <span class="fa fa-key form-control-feedback"></span>
        </div>

        <div class="row">

            <div class="col-xs-8">
                <div class="checkbox icheck">

                    @Html.CheckBoxFor(Model => Model.LembrarSenha, new { @class = "" })

                    &nbsp; Manter logado

                </div>
            </div>

            <div class="col-xs-4">
                <button type="submit" class="btn btn-default btn-block btn-flat" style="color:#5d9732;">Entrar</button>
            </div>

        </div>
    }

    <br />

</div>
